__pycache__
*.pyc
gutenberg_robot_books
.*swp
nohup.out
*.jpg
*.jpeg
*.png
*.bmp
*.db
history
logs
.idea
chat*.pdf
chat*.doc*
env01
*.wav
whisper_models
vosk-model*
*.mp4
enhancement/recording_transcription.txt
0011_multi_cn_chain_sp_online_v2.tar.gz
enhancement/recording_transcription.txt
multi_cn_chain_sp_online/
enhancement/word_analysis_jieba.txt
enhancement/word_frequency_jieba.txt
sherpa-onnx-streaming-paraformer-bilingual-zh-en
sherpa-onnx-streaming-zipformer-zh-int8-2025-06-30*
sherpa-onnx-streaming-zipformer-zh-xlarge-int8-2025-06-30
sherpa-onnx-streaming-zipformer-bilingual-zh-en-2023-02-20
core
note*.txt
*.log
node_modules
*.rar
backend/uploads
uploads
package-lock.json
testdata
